body, div, a {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#calculator {
 width: 310px;
 height: 460px;
 margin: 10px auto;  /*centers it in the browser window*/
 padding:5px;
 background-color:#FFA500;
 border: 3px solid black;
 border-radius: 10px;
}


#total {
  height: 70px;
  width: 300px;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px 5px;
  background-color: #FFF;
  text-align: right;
  font-size: 60px;
  border-radius: 10px;
}